In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Social_Network_Ads.csv')

# 1. How big is the data?

In [4]:
df.shape

(400, 5)

# 2. How does the data look like?

In [5]:
df.sample(5)

      User ID  Gender  Age  EstimatedSalary  Purchased
87   15631912  Female   28            85000          0
372  15629885  Female   39            73000          0
155  15610140  Female   31            15000          0
381  15670615    Male   48            33000          1
11   15606274  Female   26            52000          0

# 3. What is the data type of cols?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

# 4. Are there any missing values?

In [7]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# 5. How does the data look mathematically?

In [8]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

# 6. Are there duplicate values?

In [9]:
df.duplicated().sum()

0

# 7. How is the correlation between cols?

In [10]:
import numpy as np
numeric_columns = df.select_dtypes(include=[np.number]).columns
correlation = df[numeric_columns].corr()['EstimatedSalary']

In [11]:
correlation

User ID            0.071097
Age                0.155238
EstimatedSalary    1.000000
Purchased          0.362083
Name: EstimatedSalary, dtype: float64